.title{
text-align:center;
font-size:65px;	
font-family:"Copperplate / Copperplate Gothic Light", sans-serif;
margin-top:0;
margin-bottom:0;
background-color:rgb(62, 174, 247);
}
.titletwo{
text-align:center;
font-size:65px;	
font-family:"Copperplate / Copperplate Gothic Light", sans-serif;
margin-top:0;
margin-bottom:0;

}

nav ul{

margin:0;
padding:0;

}

nav li{
list-style:none;
display:inline-block;
padding:30px;
border-left:3px solid black;
padding-left:140px;
padding-right:140px;
border-top:3px solid black width 100%;


}

nav{
	background-color:rgb(121, 184, 240);
	text-align:center;
     
}

nav a{
text-decoration:none;
color:black;
font-size:35px;
}

nav li:hover{
background-color:rgb(99, 234, 245);
font-family:"‘Palatino Linotype’", serif;
}

.title2{
text-align:center;

}
#np{
border-right:3px solid black;


}

h1 a{
text-decoration:none;
color:black;



}

body{
background-color:rgb(181, 216, 247);


}

h3{
text-align:center;
font-size:27px;

}

table{
border:3px solid black;
width:750px;
height:450px;
text-align:center;
float:right 100px;
}

#email{
text-align:center;
font-size:25px;


}

#tell{
font-size:25px;
text-align:center;

}

#divt{
background-color:rgb(62, 174, 247);
line-height:140px;
width:100%;


}

html, body{
margin:0;
padding:0;

}

#petimg{
display:block;
margin-left:auto;
margin-right:auto;

}

.post{
border:6px solid black;
height:770px;
width:460px;
text-align:center;
display:block;
margin-left:auto;
margin-right:auto;
padding-top:8px;


}

.center{
text-align:center;
font-size:23px;

}

#divnp{
border:6px solid black;
width:700px;
height:400px;
text-align:center;
display:block;
margin-left:auto;
margin-right:auto;



}

.form{
width:600px;
height:100px;


}

#postform{
display:block;
margin-left:auto;
margin-right:auto;



}


.ppp{
text-align:center;

}


.pbold{
font-weight:bold;



}

